@model IList<MoneySic.Models.PessoaJuridica>

@Html.ActionLink("Novo", "Form", "PessoaJuridica");

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Nome Fantasia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
            {
            <tr>
                <td>@p.IdPessoa</td>
                <td>@p.Nome</td>
                <td>@p.Cnpj</td>
                <td>@p.Fantasia</td>
                <td>@Html.ActionLink("Remover", "Remove", new { id = p.IdPessoa })</td>
                <td>@Html.ActionLink("Editar", "Form", new { id = p.IdPessoa })</td>
            </tr>
        }
    </tbody>
</table>